.slider-img {
  height: 80vh;
  object-fit: cover;
  /* filter: brightness(90%); */
}

.new-books h3 {
  font-weight: 800;
  color: #0f172a;
  margin-bottom: 25px;
  padding-left: 5px;
  font-size: 28px;
  letter-spacing: .5px;
}

.new-books .card {
  border: none;
  background: #0f172a; 
  border-radius: 14px;
  overflow: hidden;
  transition: all 0.35s ease;
  box-shadow: 0 0px 12px rgba(0,0,0,0.15);
}

.new-books .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 35px rgba(0,0,0,0.25);
}


.new-books .card-title {
  color: #f8fafc;
  font-weight: 600;
  font-size: 18px;
}


.new-books p {
  margin: 0;
  color: #cbd5e1;
  font-size: 14px;
}


.new-books .badge {
  background: linear-gradient(90deg, #06b6d4, #2563eb);
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
}


.new-books .btn-primary {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  border: none;
  border-radius: 8px;
  padding: 7px 16px;
  margin-top: 8px;
  font-weight: 600;
  transition: 0.3s;
  color: #fff;
}

.new-books .btn-primary:hover {
  background: linear-gradient(to right, #1d4ed8, #1e40af);
  transform: translateY(-2px);
}


.new-books .bg-secondary {
  background: #64748b !important;
  padding: 7px 14px;
  border-radius: 8px;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  color: #f8fafc !important;
}
