.login-wrapper {
  height: 100vh;
  background: #eef3ff;
}

.login-card {
  width: 400px;
  border-radius: 12px;
}

button {
  background: #193A64 !important;
  border: none;
}

button:hover {
  opacity: 0.9;
}
